#map {height:800px;
width: 100%;
display: inline-block;}

.leaflet-popup-content p {
    margin: 0em 0;

}

#panel {
    width: 30%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 50px;
}

.range-slider {
	width: 60%;
}

