#map {height:800px;
width: 100%;
display: inline-block;}

.leaflet-popup-content p {
    margin: 0em 0;

}

#panel {
    width: 20%;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 40px;
}

.range-slider {
	width: 60%;
}
#forward {
    float: right;
}

#reverse {
    float: left;
}
