
body{
    background-color: black;
}

.leaflet-popup-content p {
    margin: 0em 0;
}


#map {
  height: 800px;
  width:80%;
  display: inline-block;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.range-slider {
    width: 50%;
    color: white;
}

#forward {
    transform: scale(.8);
    float: right;
}

#reverse {
    float: left;
    transform: scale(.8);
}